html, #root {
  background-color: #6168AF;
}

.top-row {
  justify-content: space-evenly;
}

.profile-card {
  background-color: white;
  border-radius: 20px;
}

#profile-info {
  width: 620px;
  height: 221px;
}
