.instrument-card {
    display: flex;
    border: solid lightgray 1px;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.instrument-card h4 {
    align-self: flex-end;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0px 20px;
}

.instrument-card Button {
    width:20%
}